@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply antialiased text-gray-900;
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}
